.product-card {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background: white;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card h3 {
  margin: 12px 0;
}

.price {
  font-weight: bold;
  color: #16a34a;
}

.product-card button {
  padding: 10px;
  width: 100%;
  background-color: #38bdf8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
