.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f172a;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo h2 {
  margin: 0;
  color: #3b82f6; /* Changed from yellow to blue */
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 60%;
  max-width: 500px;
  padding: 8px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.search-box:focus {
  box-shadow: 0 0 10px #3b82f6; /* blue glow */
  background-color: #1e293b;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s, color 0.3s;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #3b82f6; /* hover blue */
  color: #0f172a;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  color: white;
}

.logout-btn:hover {
  color: #0f172a;
  background-color: #3b82f6; /* hover blue */
  border-radius: 5px;
}

.logo-img {
  height: 90px;
  margin-right: 10px;
   width: 120%;
}

